.logo-title{
    display: inline-block;
}

.header-up{
    background: #134E5E !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #71B280, #134E5E) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #71B280, #134E5E) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}